@import './scss/variables';

:root {
    --bg-color: #{$bg-color};
    --card-shadow: #{$card-shadow};
    --color-primary: #{$color-primary};
    --color-primary-outline: #{$color-primary-outline};
    --color-primary-hover: #{$color-primary-hover};
    --color-secondary: #{$color-secondary};
    --color-secondary-outline: #{$color-secondary-outline};
    --color-secondary-hover: #{$color-secondary-hover};
    --color-danger-outline: #{$color-danger-outline};
    --color-danger: #{$color-danger};
    --color-danger-hover: #{$color-danger-hover};
    --color-default: #{$color-default};
    --color-default-outline: #{$color-default-outline};
    --color-default-hover: #{$color-default-hover};
    --text-disabled: #{$text-disabled};
    --text: #{$text};
    --text-light: #{$text-light};
    --size-sm: #{$size-sm};
    --size-md: #{$size-md};
    --size-lg: #{$size-lg};
    --border-radius: #{$border-radius};
    --box-shadow: #{$box-shadow}; 
  }
  
  *, html, body {
    font-family: 'Noto Sans';
    padding: 0;
    margin: 0;
  }
  
  .body {
    display: flex;
  }
  
  .flex {
    display: flex;
    gap: 1em;
    padding: 1em;
    align-items: center;
    justify-content: center;
  }
  
  .page-container {
    padding: 2em;
    position: relative;
    display: flex;
    gap: 1em;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 70%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .border {
    border: 1px solid var(--color-default);
    border-radius: 6px;
  }
  
  .w-full {  
    box-sizing: border-box;
    width: 100%;
  }
  
  main {
    width: calc(100% - 2em);
    height: calc(100vh - 2em);
    padding: 1em;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
  
  .col {
    flex-direction: column;
  }