$bg-color: #fdfdfd !default;
$card-shadow: 0.25rem 0.25rem 1.05rem #9e9e9e47 !default;
$color-primary: #2962FF !default;
$color-primary-outline: rgb(41, 98, 255, 0.2) !default;
$color-primary-hover: #0039CB !default;
$color-secondary: #455A64 !default;
$color-secondary-outline: rgb(59, 77, 86, 0.2) !default;
$color-secondary-hover: #1C313A !default;
$color-danger-outline: rgb(210, 36, 36, 0.2) !default;
$color-danger: #D32F2F !default;
$color-danger-hover: #9A0007 !default;
$color-default: #E0E0E0 !default;
$color-default-outline: rgb(222, 221, 221, 0.2) !default;
$color-default-hover: #AEAEAE !default;
$text-disabled: #9E9E9E !default;
$text: #3F3F3F !default;
$text-light: #FFFFFF !default;
$size-sm: 32px !default;
$size-md: 36px !default;
$size-lg: 42px !default;
$border-radius: 6px !default;
$box-shadow: 0px 2px 3px rgb(51, 51, 51, 0.2) !default; 
$input-border: #828282;
$input-border-hover: #333333;